:root {
	--links-font: "Poppins", sans-serif;
	--logo-font: "Montserrat", sans-serif;

	--bg-color: #0b0c10;

	--darker-blue-work-color: #31726f;
	--lighter-blue-hover-color: #45a29e;

	--project-card-color: #1f2833;
	--grey-color: #c5c6c7;

	--black-color: #0b0c10;
	--white-color: #f4f4f4;
}
* {
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
	font-size: 62.5%;

	/* overflow-x: hidden; */
}
body {
	background-color: var(--bg-color);
	overflow-x: hidden;
	overflow-y: scroll;
	box-sizing: border-box;
}
.homepage_hero {
	color: var(--white-color);
	min-height: fit-content;
	padding-bottom: 10%;
}
.header_wrapper {
	position: fixed;
	/* overflow-x: hidden; */
	width: 100%;
	z-index: 3;
}
header {
	display: flex;
	justify-content: space-between;
	position: relative;
	align-items: center;
	text-transform: uppercase;
	height: 10vh;
	background-color: var(--bg-color);
	padding-left: 5%;
	padding-right: 5%;
}

header h1 a {
	color: var(--white-color);
	font-family: var(--logo-font);
	font-weight: 30;
	font-size: 3.5rem;
	text-decoration: none;
	position: relative;
}
.menu_icon {
	padding-top: 1.2%;
	padding-right: 3%;
}

#menu i {
	font-size: 270%;
	cursor: pointer;
	color: var(--darker-blue-work-color);
}

.mlinks_wrapper {
	margin-top: 1.3vh;
}
.mlinks_wrapper ul {
	position: relative;
}
.mlinks_wrapper ul li {
	display: inline-block;
	padding: 1rem 2rem;
	list-style: none;
}

.mlinks_wrapper ul li a {
	font-size: 1.8rem;
	text-decoration: none;
	position: relative;
	color: var(--white-color);
	font-weight: bold;
	font-family: var(--links-font);

	&::before {
		content: "";
		position: absolute;
		top: 100%;
		width: 100%;
		height: 3px;
		background-color: var(--lighter-blue-hover-color);
		transform: scaleX(0);
		transition: transform 0.3s ease-in-out;
	}

	&:hover {
		color: var(--lighter-blue-hover-color);
	}

	&:hover::before {
		transform: scaleX(1);
	}
}

.projects_wrapper {
	align-self: center;
	padding-bottom: 6%;
	padding-top: 4%;
}
.projects_wrapper .featured {
	padding-top: 20px;
	text-align: center;
	font-family: var(--links-font);
	font-size: 150%;
	color: var(--grey-color);
}
.projects_wrapper h1 {
	font-family: var(--logo-font);
	font-size: 400%;
	font-weight: 700;
	text-align: center;
	color: var(--white-color);
}
.projects_wrapper .menu {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 2%;
}
.projects_wrapper .menu a {
	color: var(--white-color);
	font-family: var(--logo-font);
	font-size: 120%;
	background-color: var(--darker-blue-work-color);
	margin: 5px;
	text-decoration: none;
	padding: 5px 10px 5px;
}
.projects_wrapper .container {
	display: flex;
	border: 1px solid var(--project-card-color);
	background-color: var(--project-card-color);
	border-radius: 45px;
	color: var(--white-color);
	max-width: max-content;
	align-self: center;
	margin-top: 3%;
}
.sub_container {
	margin: 5% 0% 5% -1%;
}
.container img {
	border-radius: 25px 50px 25px;
	margin-left: 10%;
}

.app_name h2 {
	background: linear-gradient(
		102.7deg,
		rgb(253, 218, 255) 8.2%,
		rgb(223, 173, 252) 19.6%,
		rgb(173, 205, 252) 36.8%,
		rgb(173, 252, 244) 73.2%,
		rgb(202, 248, 208) 90.9%
	);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 500% auto;
	animation: textShine 1.5s ease-in-out infinite alternate;

	transition-timing-function: ease-in-out;
	font-family: var(--logo-font);
	position: relative;
	align-self: flex-start;
	font-size: 400%;
	font-weight: 600;
}
.app_desc h4 {
	font-family: var(--links-font);
	margin-top: 2%;
	font-size: 170%;
	font-weight: 450;
	color: var(--grey-color);
}
.collapsible:after {
	content: "\002B";
	float: left;
	margin-top: -1%;
	font-size: 130%;
}

.active:after {
	content: "\2212";
}
.app_desc h5 {
	font-family: var(--links-font);
	font-size: 150%;
	font-weight: 450;
	color: var(--darker-blue-work-color);
}
.app_desc h5:hover {
	cursor: pointer;
	text-decoration: underline;
	color: var(--lighter-blue-hover-color);
	letter-spacing: 1px;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}
.visit a p {
	margin-top: 80px;
	font-family: var(--logo-font);
	color: var(--white-color);
	font-size: 200%;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1.4px;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}
.text hr {
	color: var(--darker-blue-work-color);
	background-color: var(--darker-blue-work-color);
	height: 2.5px;
	width: 120px;
	opacity: 1;
	margin-top: -2%;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}
.projects_wrapper .container:hover {
	.app_name h2 {
		background: var(--white-color);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 500% auto;
	}
	.visit a p {
		font-size: 230%;
		font-weight: 700;

		background: linear-gradient(
			102.7deg,
			rgb(253, 218, 255) 8.2%,
			rgb(223, 173, 252) 19.6%,
			rgb(173, 205, 252) 36.8%,
			rgb(173, 252, 244) 73.2%,
			rgb(202, 248, 208) 90.9%
		);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 500% auto;
		animation: textShine 2s ease-in-out infinite alternate;
	}
	.text hr {
		width: 150px;
		height: 3px;
	}
}
.git_row i {
	margin-top: 25%;
	font-size: 220%;
}
.git_row p {
	font-family: var(--links-font);
	font-weight: 500;
	letter-spacing: 0.5px;
	color: var(--grey-color);
	margin-top: 3%;
	margin-left: -8%;
	font-size: 150%;
}
.read_more {
	border: 1px solid var(--project-card-color);
	background-color: var(--project-card-color);
	border-radius: 45px;
	font-family: var(--logo-font);
	font-size: 100%;
	text-align: justify;
	color: var(--white-color);
	margin: 2% 25% 2% 25%;
	padding: 2% 3% 1%;
	letter-spacing: 2px;
}

footer {
	display: flex;
	justify-content: space-between;
	width: 100%;
	background-color: var(--bg-color);
	color: var(--white-color);
	padding: 2.3% 10% 2.3%;
}

footer h1 {
	padding-top: 0.5%;
	text-transform: uppercase;
	color: var(--white-color);
	font-family: var(--logo-font);
	font-weight: 30;
	font-size: 3.5rem;
	white-space: nowrap;
}
footer .contact {
	display: flex;
	flex-direction: column;
}
footer h3 {
	letter-spacing: 2px;
	font-size: 240%;
	font-family: var(--links-font);
	font-weight: 500;
	color: var(--white-color);
}
footer .icons {
	align-self: center;
	padding-top: 2%;
}
footer .icons a {
	text-decoration: none;
}
footer i {
	font-size: 250%;
	letter-spacing: 20px;
	color: var(--white-color);
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}
footer i:hover {
	color: var(--darker-blue-work-color);
}
@media only screen and (max-width: 1032.98px) {
	header {
		padding-left: 2%;
		padding-right: 2%;
	}
	.mlinks_wrapper ul li {
		padding: 10px 20px;
	}
}
@media only screen and (max-width: 991.98px) {
	header {
		padding-left: 3%;
		padding-right: 2%;
	}
	header h1 a {
		font-weight: 40;
		font-size: 3rem;
	}
	.mlinks_wrapper {
		display: flex;
		justify-content: flex-end;
	}
	.mlinks_wrapper ul li {
		text-align: end;
	}

	footer h1 {
		padding-top: 0.2%;
		font-size: 3rem;
	}

	footer h3 {
		font-size: 200%;
	}
	footer .icons {
		padding-top: 2%;
	}
	footer i {
		font-size: 200%;
	}
}
/* MEDIUM  */
@media only screen and (max-width: 778.98px) {
	header {
		padding-left: 3%;
		padding-right: 2%;
	}
	header h1 a {
		font-weight: 40;
		font-size: 3rem;
	}
	.mlinks_wrapper ul li {
		padding: 10px 8px;
	}
	.mlinks_wrapper ul li a {
		font-size: 1.5rem;
	}

	.projects_wrapper h1 {
		font-size: 300%;
	}

	.projects_wrapper .container {
		margin-top: 5%;
	}
	.sub_container {
		margin: 5% -20px 5% -3%;
	}
	.app_name h2 {
		font-size: 350%;
		font-weight: 500;
	}
	.app_desc h4 {
		margin-top: 1%;
		font-size: 160%;
	}
	.visit a p {
		margin-top: 80px;
		font-size: 170%;
		font-weight: 500;
		letter-spacing: 1.4px;
	}
	.git_row i {
		margin-top: 25%;
		font-size: 200%;
	}
	.git_row p {
		margin-left: -6%;
		font-size: 130%;
	}

	footer {
		justify-content: space-between;
		padding: 3% 5% 3%;
	}
	footer h1 {
		font-size: 3rem;
	}
	footer h3 {
		letter-spacing: 2px;
		font-size: 150%;
	}
	footer i {
		font-size: 180%;
	}
}
/* SMALL */
@media only screen and (max-width: 602.98px) {
	* {
		margin: 0;
		padding: 0;
	}

	header {
		padding-left: 6%;
		align-content: center;
		align-items: center;
	}
	header h1 a {
		font-weight: 40;
		font-size: 80%;
	}
	#menu {
		display: visible !important;
	}
	.mlinks_wrapper {
		opacity: 0;
	}
	.mlinks_wrapper ul {
		width: 100% !important;
		background-color: var(--bg-color);
		position: absolute;
		top: 8.2vh;
		right: 0vw;
		z-index: 2;
	}
	.mlinks_wrapper ul li {
		display: block;
		text-align: right;
		padding-right: 5%;
		padding-bottom: 1.5%;
	}
	.mlinks_wrapper ul li a {
		font-size: 150%;
		font-weight: 550;
	}

	.projects_wrapper .featured {
		font-size: 100%;
	}
	.projects_wrapper h1 {
		font-size: 250%;
	}
	.projects_wrapper .container {
		margin-top: 5%;
		max-width: fit-content;
	}
	.sub_container {
		margin: 5% -40px 5% -3%;
	}
	.container img {
		height: 200px;
		width: 150px;
	}
	.text {
		margin-left: -8%;
	}
	.app_name h2 {
		font-size: 250%;
	}
	.app_desc h4 {
		margin-top: 1%;
		font-size: 150%;
	}
	.visit a p {
		margin-top: 50px;
		font-size: 140%;
		letter-spacing: 1px;
	}
	.text hr {
		height: 1.5px;
		width: 100px;
	}
	.git_row i {
		margin-top: 15%;
		font-size: 180%;
	}

	.git_row p {
		font-weight: 500;
		letter-spacing: 1px;
		margin-top: 0%;
		margin-left: -7%;
		font-size: 120%;
	}

	footer {
		padding: 3% 5% 3%;
	}
	footer h1 {
		padding-top: 0.2%;
		font-size: 2rem;
	}
	footer h3 {
		letter-spacing: 1px;
		font-size: 150%;
	}
	footer .icons {
		padding-top: 1%;
	}
	footer i {
		font-size: 150%;
		letter-spacing: 15px;
	}
}

@media only screen and (min-width: 602.98px) {
	.mlinks_wrapper {
		opacity: 100 !important;
	}
	#menu {
		display: none !important;
	}
}
